.theBody {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    border-radius: 6px;
    background: rgb(84, 84, 84);
    overflow: hidden;
}

body {
    background: none;
    overflow: hidden;
}

.clockBody {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: flex-end;
    padding: 5px;
    background-color: black;
    color: limeGreen;
    font-family: Courier New, monospace;
}

.digitStyle {
    width: 32px;
    text-align: center;
}

.frameRateDiv {
    margin-left: 10px;
    font-size: 16px;
    font-weight: normal;
}

#drawer {
    height: 0px;
    overflow: hidden;
    transition: height 0.25s ease-in;
}

#drawer:hover {
    height: 160px;
}

.topRightButtons {
    display: flex;
    z-index: 5;
    flex-direction: row-reverse;
    justify-content: space-around;
    font-size: 16px;
    background-color: silver;
    position: absolute;
    width: 10px;
    padding: 2px;
    right: 0;
    top: 0;
    opacity: 0;
    transition: opacity 0.25s ease-in;
    cursor: default;
    -webkit-app-region: no-drag;
    border-radius: 5px;
}

.topRightButtons:hover {
    opacity: 1;
    transition: opacity 0.15s ease-in;
    width: 50px;
}

.topBar {
    height: 18px;
    width: 100%;
    display: flex;
}

.topBarDrag {
    font-family: Courier New, monospace;
    padding-left: 4px;
    padding-top: 2px;
    width: 100%;
    color: silver;
    font-size: 14px;
    cursor: grab;
    background: rgb(64, 64, 64);
    -webkit-user-select: none;
    -webkit-app-region: drag;
}

.buttonsHover {
    background-color: grey;
    width: 20px;
}

.closeBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10px;
    width: 10px;
    border-radius: 100%;
    background: grey;
    padding: 5px;
}

.closeBtn:hover {
    background: red;
}

.minBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10px;
    width: 10px;
    border-radius: 100%;
    background: grey;
    padding: 5px;
}

.minBtn:hover {
    background: white;
}

#startStop {
    display: flex;
}

#expand {
    width: 30%;
    height: 8px;
    background: rgb(130, 130, 130);
    opacity: 1;
    border-radius: 7px 7px 0px 0px;
}

#expand:hover {
    transition-delay: 0.25s;
    transition: opacity 0 ease-in;
}

#expand:hover+#drawer {
    height: 160px;
    transition: height 0.25s ease-in;
    transition-delay: 0.15s;
}